.slider{
    height: 75vh;
    margin-top: -50px;
    position: absolute;
}

.slider .List .item2{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .List .item2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.slider .List .item2::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    /*background-image: linear-gradient(to top,#835e45 40%,transparent);*/
}

.slider .List .item2 .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}


.slider .List .item2 .content  p:nth-child(1){
   text-transform: uppercase;
   letter-spacing: 10px;
}


.slider .List .item2 .content h2{
   font-size: 80px;
   margin: 0;
 }

.slider .List .item2.active{
    opacity: 1;
    z-index: 10;
}


.item2 .content p:last-of-type {
    /* Aquí van tus estilos */
    color: orangered; /* Esto es solo un ejemplo */
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}



.item2 .content .availability {
    text-align: center;
    margin-top: 10px; 
    font-size: 14px; 
    color: white; 
}
.item2 .content .availability i {
    margin-right: 5px; 
}


.item2 .content .logo {
    display: flex;
    margin: 10px auto; /* Centra el logo horizontalmente y agrega un margen superior */
    opacity: 0.5; /* Aplica un efecto de transparencia */
    transition: opacity 0.3s; /* Efecto de transición para cambios de opacidad */

}

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .List .item2.active p:nth-child(1),
.slider .List .item2.active h2,
.slider .List .item2.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}


.slider .List .item2.active h2{
    animation-delay:1s;
}
.slider .List .item2.active p:nth-child(3){
    animation-duration: 1.3s;
}


.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
  }

.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius:5px;
    font-size: x-large;
    color: white;
    transition: .5s;
}

.arrows button:hover{
    background-color: white;
    color: black;
}


.thumbail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
    }

 .thumbail::-webkit-scrollbar{
    width: 0;
 }   

 .thumbail .item2{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
 }

 .thumbail .item2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
 }


 .thumbail .item2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
 }

 .thumbail .item2 .content{
  position: absolute;
  inset: auto 10px 10px 10px;
 }


 .thumbail .item2.active{
filter: brightness(1);
 }



 .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.List {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.item2 {
    min-width: 100%;
    position: relative;
}

.item2 img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.arrows button {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.icon-container {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px; /* Espacio debajo de los íconos */
    background-image: url("https://www.comedera.com/wp-content/uploads/2022/12/Desayono-americano-shutterstock_2120331371.jpg");
}

.icon-container div {
    display: inline-block;
    margin: 0 15px; /* Espacio entre los íconos */
    text-align: center;
}

.icon-container a {
    text-decoration: none;
    color: inherit; /* Mantiene el color original del texto */
   
}

.icon-container i {
    font-size: 24px; /* Tamaño de los íconos */
    display: block; /* Hace que el ícono se muestre en bloque, centrado encima del texto */
    margin-bottom: 5px; /* Espacio entre el ícono y el texto */
    transition: color 0.3s; /* Transición suave para el cambio de color */
}

.icon-container a:hover i {
    color: #007BFF; /* Color de los íconos al pasar el ratón */
}

.icon-text {
    font-size: 14px; /* Tamaño de la fuente del texto debajo de los íconos */
    color: #333; /* Color del texto */
}



@media (max-width: 768px) {
    .content {
        font-size: 14px;
        padding: 5px;
    }

    .arrows button {
        padding: 5px;
    }
}


 @media only screen and (max-width:550px) {


   
    .thumbail{
        justify-content: center;
    }
    .slider .List .item .content h2{
        font-size: 60px;
    }

    .arrows{
        top: 10%;
    }

    }


    @media  only screen and (max-width:768px) {

      
        
        
        .thumbail{
            justify-content: center;
        }
        .slider .List .item .content h2{
            font-size: 60px;
        }
    
        .arrows{
            top: 10%;
        }
    
        }
    